<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POCSuite">

<listeners>
        <listener class-name="poc.com.extentreportlistner.ExtentReporterNG"/>
 </listeners>
  
  
  <test thread-count="5" name="Test">
    <classes>
    <group name="smoke">
      
      <class name="poc.com.testcases.MultipleDataSet"/>
      <class name="poc.com.testcases.POCTestForAngular"/>
      <class name="poc.com.testcases.POCTest"/>
    </classes>
    </group>
  </test> <!-- Test -->
</suite> <!-- Suite -->

